*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier,sans-serif;
}
button{
    cursor:pointer;
}
a:hover{
    
    color: rgb(16, 19, 212);
}
.jsa{
    margin-left: 20px;
    margin-top: -30px;
    display: block;
    float: left;
    height: 40px;
}
a{
    color: white;
    text-decoration: none;
}


div.box{
    text-align: center;
    min-width: 1000px;
}
div.header{
    
    margin: 0 auto;
    line-height: 100px;
    color: white;
    background-color: rgb(89, 104, 112);
    height: 120px;
}
div.logo{
    height: 80px;
    font-size: 20px;
    float: left;
    margin-left: 20px;
    width: 1460px;
    text-align: left;
}

div.menu{  
    float: right;
    font-size: 20px;
    width: 400px;
    
}
div.menu ul li{
    
    
    list-style-type:none;
    display:inline;
}

div.footer{
    
    color: white;
    height: 60px;
    background-color: black;
    line-height: 60px;
}
div.footer p{
    text-align: center;
}